body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  background-color: #f0f0f0;
  margin: 0;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 400px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body[data-mode=window] {
  min-height: unset;
  min-width: unset;
}
#search {
  margin: 10px;
}
#search form {
  position: relative;
}
#search input[type=search] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px 0 8px;
  outline: none;
  flex: 1;
}
#search input[type=submit] {
  background: url(search.svg) center center no-repeat;
  background-size: 24px;
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  outline: none;
}
#search input[type=search]:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
#search form {
  position: relative;
}
#search form::before {
  content: attr(data-value);
  position: absolute;
  right: 60px;
  bottom: 8px;
  font-size: 11px;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  color: #757575;
}
#search form[data-value=""]::before {
  display: none;
}

#content {
  padding: 10px;
  flex: 1;
  overflow: auto;
}
#content table {
  table-layout: fixed;
  border-collapse: collapse;
}
#content tr {
  line-height: 24px;
}
#content tr {
  line-height: 24px;
}
#content tr.selected {
  background-color: #88d0d7 !important;
}
#content tbody tr:nth-child(odd) {
  background-color: #e4e4e4;
}
#content th {
  font-weight: normal;
  opacity: 0.5;
}
#content td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#content tbody td:first-child {
    color: #50b6ae;
    font-size: 10px;
    text-align: center;
}
#content tbody td:nth-child(4),
#content tbody td:nth-child(5) {
  text-align: center;
}
#content tbody:empty::before {
  content: attr(data-msg);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
footer {
  background-color: #fff;
  padding: 5px 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  text-align: right;
}
